<div class="promo-bar">
  <div class="promo-collection">
    <a href="/collections/clothing"><span>Clothing</span></a>
  </div>
  <div class="promo-collection">
    <a href="/collections/dresses"><span>Dresses</span></a>
  </div>
  <div class="promo-collection">
    <a href="/collections/mummy-me"><span>Mom & Me</span></a>
  </div>
  <div class="promo-collection">
    <a href="/collections/daily-deals"><span>Daily Deals</span></a>
  </div>
</div>