<div class="swell-reward-sparkle">
   <div class="referral-section thank-you-popup">
      <div class="referral-section-holder">
         <div class="swell-referral-holder">
            <div class="swell-post-checkout" style="display: none;">
               <div class="checkout-heading text-center">
                  <span class="swell-referral-back-link close-thank-you-popup"></span>
                  <h2 class="swell-post-checkout-heading">Thank you for your purchase</h2>
               </div>
               <div class="swell-post-checkout-holder">
                  <div class="swell-referral">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
