{{ 'page-template-custom.scss.css' | asset_url | stylesheet_tag }}

{% include 'breadcrumbs' %}

<!-- LUCAS WORK -->

{% if page.title == 'About Us' %}
<style>
  .breadcrumb {
    display: none;
  }
  @media (max-width: 979px) {
    .breadcrumb {
      height: 59px;
      display: block;
      padding-top: 8px;
    }
    .breadcrumb h2 {
      font-size: 12px;
    }
    .breadcrumb h4 {
      color: #fff;
      font-family: "Open Sans";
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .breadcrumb a {
      color: #fff !important;
      font-family: "Open Sans";
    }
  }
</style>
{% endif %}
<!-- LUCAS WORK -->


<div id="page-content" class="{{ page.title }}">
  {% if page.title == 'Rewards Program' %}
    <style>
      nav.breadcrumb h2{
        max-width: 1100px;
      }
    </style>
  {% endif %}

  <div class="rte">
    {% if page.title == 'About Us' %}
    {% section 'about-us' %}
    {% endif %}
    {{ page.content }}
  </div>
</div>
 
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
        
        <script type="text/javascript">
			
          $('.Returns .expander').click(function(){
            var me = $(this);
            var faq_item = $(this).parent();
            if(faq_item.is('.collapsed'))
            {
              
              faq_item.removeClass('collapsed');
              me.html("<label class='minus'>-</label>");
              
            }
            else
            {
              faq_item.addClass('collapsed');
              me.html("+");

            }
          })

            // When the window has finished loading create our google map below
            google.maps.event.addDomListener(window, 'load', init);
        
            function init() {
                // Basic options for a simple Google Map
                // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
                var mapOptions = {
                    // How zoomed in you want the map to start at (always required)
                    zoom: 11,

                    // The latitude and longitude to center the map (always required)
                    center: new google.maps.LatLng(40.6700, -73.9400), // New York

                    // How you would like to style the map. 
                    // This is where you would paste any style found on Snazzy Maps.
                    styles: [
                              {
                                  "featureType": "administrative",
                                  "elementType": "labels.text.fill",
                                  "stylers": [
                                      {
                                          "color": "#444444"
                                      }
                                  ]
                              },
                              {
                                  "featureType": "landscape",
                                  "elementType": "all",
                                  "stylers": [
                                      {
                                          "color": "#fbeff0"
                                      }
                                  ]
                              },
                              {
                                  "featureType": "poi",
                                  "elementType": "all",
                                  "stylers": [
                                      {
                                          "visibility": "off"
                                      }
                                  ]
                              },
                              {
                                  "featureType": "road",
                                  "elementType": "all",
                                  "stylers": [
                                      {
                                          "saturation": -100
                                      },
                                      {
                                          "lightness": 45
                                      }
                                  ]
                              },
                              {
                                  "featureType": "road.highway",
                                  "elementType": "all",
                                  "stylers": [
                                      {
                                          "visibility": "simplified"
                                      }
                                  ]
                              },
                              {
                                  "featureType": "road.arterial",
                                  "elementType": "labels.icon",
                                  "stylers": [
                                      {
                                          "visibility": "off"
                                      }
                                  ]
                              },
                              {
                                  "featureType": "transit",
                                  "elementType": "all",
                                  "stylers": [
                                      {
                                          "visibility": "off"
                                      }
                                  ]
                              },
                              {
                                  "featureType": "water",
                                  "elementType": "all",
                                  "stylers": [
                                      {
                                          "color": "#f0dde3"
                                      },
                                      {
                                          "visibility": "on"
                                      }
                                  ]
                              }
                          ]
                };

                // Get the HTML DOM element that will contain your map 
                // We are using a div with id="map" seen below in the <body>
                var mapElement = document.getElementById('map');

                // Create the Google Map using our element and options defined above
                var map = new google.maps.Map(mapElement, mapOptions);

                // Let's also add a marker while we're at it
                
            }
        </script>
  

